a:hover{
    color:grey !important;
}
.card {

    display: inline-block;
    width: calc(33.33%); /* 33.33% pro tři stejné prvky */
    margin-right: 1cm;
  }
  
  .card:last-child {
    margin-right: 0;
  }
.container {
    text-align: center;
    margin-top: 100px;
}
  